.scrollToTop-btn {
  position: fixed;
  bottom: 7.2rem;
  right: 2.4rem;
  width: 5rem;
  height: 6rem;
  background-color: var(--text-color);
  display: grid;
  place-content: center;

  border-radius: .5rem;
  cursor: pointer;
  z-index: var(--z-fixed);
}

.scrollToTop-btn:hover {
  background-color: var(--text-hover);
}

.arrowUp-icon {
  font-size: 2.4rem;
  color: var(--container-color)
}

/*============= Breakpoints ===================*/
/*============= Para telas menores ===================*/
@media screen and (max-width: 350px) {
  .scrollToTop-btn {
    display: none;
  }
}