.qualification__container {
  max-width: 768px;
  margin: 0 auto;
}

.qualification__sections{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.qualification__head {
  display: flex;
  justify-content: center;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  align-items: center;
  gap: .5rem;
  margin-bottom: 6.4rem;
}

.qualification__icon{
  font-size: var(--h1-font-size);
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-4);
  color: var(--text-muted)
}

.qualification__calender {
  font-size: var(--tiny-font-size);
  display: flex;
  gap: .2rem;
}

.qualification__content{
  display: grid;
  grid-template-columns: minmax(auto, 250px) max-content minmax(100px, 250px);
  align-items: center;
}

.qualification__data {
  justify-self: end;
  max-width: 200px;
}

.qualification__content:nth-child(2) .qualification__data {
  justify-self: flex-start;
}

.qualification__rounder {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--text-muted);
  border-radius: 50%;
  margin-inline: 1rem ;
  margin-block: 2rem ;
  position: absolute;
  transform: translateX(-13px);
}

.qualification__content:nth-child(1) .qualification__rounder{
  transform: translate(-13px, -20px);

}

.qualification__content:nth-child(1) .qualification__line{
  height: 50% ;
  align-self: flex-end;
}

.qualification__content:nth-child(3) .qualification__line{
  height: 50% ;
  align-self: flex-start;
}

.qualification__content:nth-child(2) .qualification__rounder{
  transform: translate(-13px, 20px);
}

.qualification__content:nth-child(3) .qualification__rounder{
  transform: translate(-13px, 15px);
}

.qualification__line {
  position: relative;
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
  /* transform: translate(6px, -7px); */
  margin-inline: 2rem ;
}

/*============= Breakpoints ===================*/
/*============= Para telas menores ===================*/

@media screen and (max-width: 580px){
  .qualification__sections{
    align-items: flex-start;
  }
  
  .qualification__content{
    max-width: 200px;
    width: 100%;
    display: flex;
    align-self: center;
  }

  .qualification__data{
    margin-bottom: var(--mb-2-4);
  }

  .qualification__content:nth-child(2) .qualification__data{
    justify-self: center;
  }

  .qualification__line{
    display: none;
  }
}
@media screen and (max-width: 350px){
  .qualification__content{
    width: 70%;
    display: flex;
    align-self: center;
  }
}