.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 2rem;
}

.portfolio__item{
  padding: 2rem 1rem;
  background-color: var(--container-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 8px 16px 0px #00000026;
  border-radius: 10px;
  gap: 2rem;
}

.portfolio__details{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: flex-start;
  gap: 2rem;
}

.portfolio__description{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
}

.portfolio__item__description{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.portfolio__item__description span {
  font-weight: var(--font-medium);
}

.portfolio__see-repository,.portfolio__see-more{
  font-size: var(--smaller-font-size);
  display: flex;
  gap: .6rem;
  align-items: center;
  color: var(--text-color);
  transition: .3s;
  padding: 1rem 1rem 1rem 0;
}

.portifolio__tecnologies{
  font-size: var(--medium-font-size);
  color: var(--text-color);
}

.stack__item{
  font-size: var(--smaller-font-size);
  color: var(--text-muted);
  background-color: purple;
  padding: .5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}

.stack__item:hover {
  background-color: rgb(182, 8, 182);
}

.portfolio__see-repository:hover, .portfolio__see-more:hover{
  color: var(--text-hover)
}

.portfolio__stack {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.portfolio__info{
  display: flex;
  gap: 1.4rem;
}


.portfolio__stack-icons{
  font-size: var(--h3-font-size);
  display: flex;
  gap: .8rem;
  align-items: center;
}

.portfolio__item-img{
  aspect-ratio: 16/9;
  max-width: 300px;
  border-radius: 5px;
}

.bxl-javascript:before{
  font-size: var(--h2-font-size);
}

/*============= Breakpoints ===================*/

/*============= Para telas maiores ===================*/
@media screen and (max-width: 992px){
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 4rem;
  }
  

}

/*============= Para tela média ===================*/
@media screen and (max-width: 768px){
}

@media screen and (max-width: 576px){
  .portfolio__container {
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 4rem;
  }
}

/*============= Para telas menores ===================*/
@media screen and (max-width: 350px){
  
}
